<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals">اهداف الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                اهداف الكلية الاستراتيجية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <ol>
                <li>&nbsp;&nbsp;  الاهتمام بالتوعية الأثرية وربط البيئة المحيطة بالمؤسسة التعليمية عن طريق الفاعليات والأنشطة</li>
                <li>&nbsp;&nbsp;  تفعيل دور المؤسسة التعليمية وإشراكها في مجالات التخطيط والتدريب في النطاق الإقليمي</li>
                <li>&nbsp;&nbsp;  البحث عن أطر جديدة في مجال دراسة وحفظ الآثار عن طريق الحوار المجتمعي</li>
                <li>&nbsp;&nbsp; الاهتمام بالخريجين وتأهيلهم للعمل عن طريق الإعداد الجيد للبرامج الدراسية المختلفة </li>
                <li>&nbsp;&nbsp;  تقديم المشورة الفنية و البحثية للمتخصصين والباحثين في مجال الآثار ومؤسسات الدولة</li>
                <li>&nbsp;&nbsp;  اعتماد طرق جديدة للتدريس والتدريب والتقويم من أجل النهوض بالعملية التعليمية</li>
                <li>&nbsp;&nbsp;  امداد الباحثين والأساتذة بالإمكانات التي تؤهلهم للارتقاء بالعمل الأثري والأكاديمي</li>
                <li>&nbsp;&nbsp;  تشجيع المشروعات البحثية الجديدة والمبتكرة ومشاركة الجامعات العالمية ومراكز الأبحاث</li>
                <li>&nbsp;&nbsp; إقامة المؤتمرات العلمية الجادة من أجل الحفاظ علي الآثار وحمايتها من الأخطار </li>
                <li>&nbsp;&nbsp;  الاستثمار في الأفراد عن طريق التدريب المستمر وتقديم كافة التسهيلات للمشروعات البحثية</li>

                </ol>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
